<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <!-- har baar css me change krne pr npm run build:css krna pr raha h -->
    <div class="text-lg">
      <h1 class="font-semibold text-xl">sdsd</h1>
    </div>

    <h2 class="bg-red-400 text-2xl"><%= randomNumber %></h2>
  </body>
</html>
