<div class="header">
  <div class="logo">MyLogo</div>
  <div class="nav">
    <a href="/">Home</a>
    <a href="/add-user">Add User</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
</div>
