<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <!-- <link rel="stylesheet" href="header.css" /> -->
  <link rel="stylesheet" href="/layouts/css/header.css" />

  <body>
    <div class="header">
      <div class="logo">MyLogo</div>
      <div class="nav">
        <a href="/">Home</a>
        <a href="/add-user">Add User</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </div>

    <div class="content"><%- body %></div>
  </body>
</html>
