<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/layouts/css/header.css" />
    <link rel="stylesheet" href="/layouts/css/footer.css" />
  </head>
  <body>
    <%- include('header') %>

    <div class="content"><%- body %></div>

    <%- include('footer') %>

  </body>
</html>
